/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
/* black - #000000; */

*{
  font-family:'Quicksand', sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(180deg, #f89464 30%, #82c8e4 70%);
  height: 100%;
  width: 100%;
  margin: auto;
}

p{
  font-family: Lobster, sans-serif;
  text-align: center;
  font-size: 17px;
}

.aff-mir {
  font-family: monospace;
  font-size: 58px;
  background-color: #silver;
}

.red{
  font-family: monospace;
  font-size: 58px;
  background-color: #f6d6d1;
}

.blue{
    font-family: monospace;
    font-size: 58px;
    background-color: #fec100;
}


#control {
  background-color: #f7e4bf;
  color: white;
  padding: 10px;
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row

}

button {
  padding: 10px;
  width: 300px;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 10px;
  border-radius: 50%/120%
}

button:hover {
  animation-name: background-color;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes background-color {
    20% {
      background-color: #e34234;
      }
    50% {
      background-color: #0eff91;
    }
    100% {
      background-color: #f6cd43;
    }
  }


.button-container1 {
  width: 150px;
  background-color: #134d71;
  margin: auto;
}

.button-container2 {
  width: 150px;
  background-color: #134d71;
  margin: auto;
}

.button-container3 {
  background-color: #f7e4bf;
  position: relative;
  top: 200px;
}

.icon-box {
  background-color: silver;
  height: 300px;
  position: relative;
  top: 300px;
}

.img-meditate {
  width: 15%;
  margin-top: 70px
}

.title-container{
  background-color: #d41c18;
  border-radius: 50%/25%;
  border: solid;
  border-color: black;
  border-radius: 50%/25%;
  margin: auto;
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.question-container{
  background: #009564;
  width: 600px;
  height: 100px;
  border-color: #000000;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: 200px;
  left: 10px;
}

.thick-blue-border {
  border-color: #1400bb;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;

}

.smaller-image {
  background: #ffffff;
  width: 100px;
  margin: auto;
  position: relative;
  left: 10px;
  top: -5px;

}

#affirm {
  height: 12px;
  text-align: justify;
  min-width: 6px;
}

#mant {
  height: 12px;
  text-align: justify;
  min-width: 6px;
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8,0.8);
            transform: scale(0.8, 0.8);
  }
}
.receive-button {
  background-color:#07d;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  margin:5px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.receive-button:focus {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}
.receive-button:active {
  -webkit-animation: none;
          animation: none;
}
body {
  text-align: center;
}
